.squ-box{
    background-color: #097ab3; /* Example background color */
    color: #ffffff; /* Example text color */
    display: flex;
    flex-direction: column;
    padding: 10;

}
.switch-menu {
    display: flex;
    flex-direction: row;
    width: 100%;
  }
  .switch-menu p {
    width: 20%;
    font-weight: 400;
    color: rgb(255, 255, 255);
    text-align: center;
    cursor: pointer;
  }
  .switch-menu p.active {
    color: #000000;
    font-weight: 600;
    border-bottom: 4px solid #000;
  }