
.card-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  gap: 20px;
  padding: 10px;
  max-width: 100%;
  width: 60%;
  box-sizing: border-box;
  margin-left: 20%;
}

.product-card {
  background-color: rgb(255, 255, 255);
  border: 1px solid #ccc;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  width: calc(33.33% - 20px); /* 3 cards in a row with 20px gap */
  height: 300px; /* Adjust the card height as needed */
  margin-bottom: 20px;
  overflow: hidden;
  padding: 0;
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
}

.slider-container {
  flex: 1;
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: hidden;
  height: 50%; /* Adjust the image container height as needed */
}

.image-container {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: hidden;
}

.image-container img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.product-details {
  text-align: center;
  padding: 10px;
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.product-details h2 {
  color: blue;
  font-size: 20px;
  margin: 5px 0;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.buy-button-container {
  display: flex;
  justify-content: center;
  align-items: center;
  flex: 1;
}
.description {
  color: black;
  font-size: 16px;
  margin: 5px 0;
}

.price {
  color: grey;
  font-size: 18px;
  margin: 5px 0;
}

.buy-button {
  border: none;
  outline: 0;
  padding: 10px;
  color: white;
  background-color: green;
  text-align: center;
  cursor: pointer;
  font-size: 16px;
  width: 50%;
  border-radius: 60px;
}

.buy-button:hover {
  opacity: 0.7;
}

/* Media query for screens smaller than 768px (typical mobile devices) */
@media (max-width: 768px) {
  .card-container {
    width: 100%;
    margin-left: 0;
  }

  .product-card {
    width: calc(100% - 20px); /* 2 cards in a row with 20px gap */
  }
}
